html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: consolas;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

.container-center-blue {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #031321;
}

.container-blue {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #031321;
}

.button-neon {
    position: relative;
    display: inline-block;
    padding: 0px 12px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
}

.button-neon:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 30px #2196f3;
    transition-delay: 1s;
}

.button-neon span {
    position: absolute;
    display: block;
}

.button-neon span:nth-child(1) {
    top: 0;
    animation: blinkRight 2.4s ease-out infinite forwards ;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.button-neon:hover span:nth-child(1) {
    left: 100%;
    transition: .6s;
}

.button-neon span:nth-child(3) {
    bottom: 0;
    animation: blinkLeft 2.4s ease-out infinite forwards ;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.button-neon:hover span:nth-child(3) {
    right: 100%;
    transition: .6s;
    transition-delay: 0.5s;
}

.button-neon span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
    animation: blinkDown 2.4s ease-out infinite forwards ;
}

.button-neon:hover span:nth-child(2) {
    top: 100%;
    transition: .6s;
    transition-delay: 0.25s;
}

.button-neon span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
    animation: blinkUp 2.4s ease-out infinite forwards ;
}

.button-neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: .6s;
    transition-delay: 0.75s;
}

.title-welcome {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 40px;
}

.title-button {
    padding: 12px 8px;
    margin: 0px;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding: 30px 50px;
    background: rgba(0,0,0,.1);
    box-sizing: border-box;
    box-shadow: 0 5px 65px #2196f333;
    border-radius: 10px;
}

.form-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}

.form-box a {
    margin-top: 18px;
    text-align: center;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.title-input-neon {
    color: white;
    margin: 0px;
    font-weight: 400;
    font-size: .8em;
}

.input-neon {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 6px 0px;
    border-radius: 4px;
    height: 40px;
    min-width: 280px;
}

.input-neon input {
    padding: 10px;
    cursor: pointer;
}

.input-neon:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3, 0 0 30px #2196f3;
    transition-delay: 1s;
}

.input-neon span {
    position: absolute;
    display: block;
}

.input-neon input {
    color: white;
}

.input-neon span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.input-neon:hover span:nth-child(1) {
    left: 100%;
    transition: .6s;
}

.input-neon span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.input-neon:hover span:nth-child(3) {
    right: 100%;
    transition: .6s;
    transition-delay: 0.5s;
}

.input-neon span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.input-neon:hover span:nth-child(2) {
    top: 100%;
    transition: .6s;
    transition-delay: 0.25s;
}

.input-neon span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.input-neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: .6s;
    transition-delay: 0.75s;
}

.link-template {
    color: #2196f3;
    font-size: .8em;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    opacity: .7;
}

.link-template:hover {
    opacity: 1;
}

.content-detail {
    display: flex;
    width: 100%;
    background-color: rgba(255,255,255,.12);
    border-radius: 8px;
    margin: 10px;
    margin-left: 4px;
    backdrop-filter: blur(2px);
    padding: 4px;
}

.content-detail-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,.12);
    margin: 4px;
    width: 100%;
    border-radius: 4px;
}

.navgroup-detail {
    display: flex;
    flex-direction: column;
    padding: 6px;
    padding-right: 0px;
}

.title-section {
    font-size: 1em;
    color: rgba(255,255,255,.5);
    margin: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list-item-container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: rgba(255,255,255,.05);
    border-radius: 4px;
    overflow: auto;
}

.draw-section-content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgba(255,255,255,.05);
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
}

.list-item-prize {
    margin: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid rgba(255,255,255,.12);
    color: #ffffff88;
    transition: all .4s ease;
    cursor: pointer;
    font-size: 1em;
}

.list-item-prize-active {
    background-color: rgba(255,255,255,.3);
}

.list-item-prize-active:hover:after {
    content: "";
}

.list-item-prize-active::after {
    content: "»";
    color: rgba(255,205,255,.8);
}

.list-item-prize:hover {
    background-color: rgba(255,255,255,.3);
    color: #fff;
    border: 0px;
    border: 1px solid rgba(255,255,255,.12);
}

.list-item-prize:hover::before {
    content: "»";
    transition: all .5s ease;
}

.list-item-prize p {
    margin: 0px;
}

.list-item-participant {
    color: #ffffff88;
    margin: 4px 12px;
    padding: 4px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,.12);
    border-radius: 6px;
}

.list-item-participant p {
    margin: 0px;
    margin-top: 6px;
}

.prize-detail-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 60%;
    max-height: 60%;
    margin: 0px;
    padding: 0px 6px;
    padding-top: .8em;
}

.prize-draw {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-height: 100%;
    margin: 0px;
    overflow: auto;
}

.prize-detail {
    display: flex;
    height: 100%;
    max-height: 100%;
    margin: 0px;
}

.prize-detail .side {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid rgba(255,255,255,.12);
    margin: 0px 6px;
    border-radius: 4px;
    padding: 1rem;
    overflow: auto;
    box-sizing: border-box;
}

.play-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 40%;
    max-height: 40%;
    background-color: rgba(255,255,255,.1);
    margin: 12px;
    border-radius: 4px;
}

.desc-status-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px;
    margin-top: 4px;
    padding: 0px 12px;
}

.desc-status-player p {
    padding: 4px 0px;
    margin: 0px;
    color: white;
    font-size: .8rem;
    font-weight: 400;
}

.title-side {
    font-size: .9em;
    color: rgba(255,255,255,.5);
    margin: 0px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list-winners {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    padding: 8px 0px;
    margin: 0px;
    overflow: auto;
}

.list-winners p {
    display: flex;
    padding: 0px;
    margin: 8px 18px;
    color: rgba(255,255,255,.5);
    list-style: none;
}

.text-detail {
    font-size: .9em;
    color: rgba(255,255,255,.5);
    margin: 0px;
    margin-bottom: 4px;
    letter-spacing: 2px;
}

#draw-winner {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.draw-options {
    color: white;
    margin-bottom: 10px;
}

.input-image {
    margin: 8px 0px;
    width: 50%;
    transition: all .4s ease;
}

.input-image:hover {
    opacity: .5;
}

.button-fall, .button-redraw, .button-stop {
    font-family: consolas;
    padding: 8px 18px;
    font-size: 1em;
    letter-spacing: 3px;
    text-transform: uppercase;
    outline: none;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    opacity: .7;
    margin: 4px;
    border-radius: 4px;
}

.button-fall {
    color: rgb(230, 109, 109);
}

.button-redraw {
    color: rgb(0, 227, 72);
}

.button-stop {
    opacity: 1;
    top: 50%;
    left: 50%;
    color: rgb(230, 109, 109);
    position: absolute;
    background-color: rgb(249, 199, 199);
    transform: translate(-50%, -50%);
}

.button-fall:hover {
    opacity: 1;
    background-color: rgb(249, 199, 199);
}

.button-stop:hover {
    background-color: rgb(249, 199, 199);
}

.button-redraw:hover {
    background-color: rgb(175, 255, 200);
}

@keyframes blinkRight {
    0% {
        left: -100%;
    }
    25% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes blinkLeft {
    50% {
        right: -100%;
    }
    75% {
        right: 100%;
    }
    100% {
        right: 100%;
    }
}

@keyframes blinkUp {
    75% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}

@keyframes blinkDown {
    25% {
        top: -100%;
    }
    50% {
        top: 100%;
    }
    100% {
        top: 100%;
    }
}