html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: consolas;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
}

.container-center-blue {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #031321;
}

.container-blue {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #031321;
}

.button-neon {
    position: relative;
    display: inline-block;
    padding: 0px 12px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px;
}

.button-neon:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

.button-neon span {
    position: absolute;
    display: block;
}

.button-neon span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.button-neon:hover span:nth-child(1) {
    left: 100%;
    transition: .6s;
}

.button-neon span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.button-neon:hover span:nth-child(3) {
    right: 100%;
    transition: .6s;
    transition-delay: 0.5s;
}

.button-neon span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.button-neon:hover span:nth-child(2) {
    top: 100%;
    transition: .6s;
    transition-delay: 0.25s;
}

.button-neon span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.button-neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: .6s;
    transition-delay: 0.75s;
}

.title-welcome {
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 40px;
}

.title-button {
    padding: 12px 8px;
    margin: 0px;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding: 30px 50px;
    background: rgba(0,0,0,.1);
    box-sizing: border-box;
    box-shadow: 0 5px 65px #2196f333;
    border-radius: 10px;
}

.form-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}

.form-box a {
    margin-top: 18px;
    text-align: center;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.title-input-neon {
    color: white;
    margin: 0px;
    font-weight: 400;
    font-size: .8em;
}

.input-neon {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 6px 0px;
    border-radius: 4px;
    height: 40px;
    min-width: 280px;
}

.input-neon input {
    padding: 10px;
    cursor: pointer;
}

.input-neon:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 5px #2196f3, 0 0 10px #2196f3, 0 0 30px #2196f3;
    transition-delay: 1s;
}

.input-neon span {
    position: absolute;
    display: block;
}

.input-neon input {
    color: white;
}

.input-neon span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.input-neon:hover span:nth-child(1) {
    left: 100%;
    transition: .6s;
}

.input-neon span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.input-neon:hover span:nth-child(3) {
    right: 100%;
    transition: .6s;
    transition-delay: 0.5s;
}

.input-neon span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.input-neon:hover span:nth-child(2) {
    top: 100%;
    transition: .6s;
    transition-delay: 0.25s;
}

.input-neon span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

.input-neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: .6s;
    transition-delay: 0.75s;
}

.link-template {
    color: #2196f3;
    font-size: .8em;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    opacity: .7;
}

.link-template:hover {
    opacity: 1;
}

.content-detail {
    display: flex;
    width: 100%;
    background-color: rgba(255,255,255,.12);
    border-radius: 8px;
    margin: 10px;
    margin-left: 4px;
    backdrop-filter: blur(2px);
    padding: 4px;
}

.content-detail-section {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    background-color: rgba(255,255,255,.12);
    margin: 4px;
    width: 100%;
    border-radius: 4px;
}

.navgroup-detail {
    display: flex;
    flex-direction: column;
    padding: 4px;
    padding-right: 0px;
}

.title-section {
    font-size: 1em;
    color: rgba(255,255,255,.5);
    margin: 16px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}