html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#root {
    background-image: url('../images/bg-play.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-prize {
    margin: 0px auto;
    margin-bottom: 5rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #133C68;
}

.draw-text {
    min-width: 34rem;
    max-width: 34rem;
    padding: .67em .8em;
    margin: 0px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    box-shadow:  5px 5px 10px #0000000d;
    height: 2.5rem;
}

.image-prize {
    position: absolute;
    left: -26em;
    width: 30em;
}
